.ec {
	--ec-today-bg-color: rgb(var(--color-primary-500)) !important;
}

/* Toolbar */
.ec-toolbar {
	> * {
		margin-bottom: 0;

		> * {
			margin-bottom: 0;
		}
	}

	.ec-title {
		@apply h3;
	}
}

/* Buttons */
.ec-button {
	@apply !variant-soft !border-none;
}

:not(.ec-button-group) > .ec-button {
	@apply !btn;
}

.ec-button-group {
	@apply !btn-group;
}

.ec-active {
	@apply !variant-filled-primary;
}

:not(.ec-container) > .ec-header {
	@apply rounded-t-lg;
}

/* Border radius */
:not(.ec-container) {
	.ec-header {
		@apply rounded-t-lg;
	}

	.ec-body {
		@apply rounded-b-lg;
	}

	.ec-toolbar + .ec-body {
		@apply rounded-t-lg;
	}
}

.ec-container {
	.ec-header {
		@apply rounded-tl-none;
	}

	.ec-body {
		@apply rounded-bl-none;
	}

	.ec-sidebar {
		@apply rounded-l-lg;
	}
}
